nav {
    display: flex;
    flex-direction: row;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    /* padding top and bot 1% padding left and right 2%*/
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 25%;
    font-size: larger;
    color: black;
    font-family: 'Pacifico', cursive;
}

input {
    font-size: larger;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;

}

.body {
    background-image: url(/image/background.jpg);
    background-size: cover;
    color: white;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.gender {
    width: 30%;
    border: 5px solid pink;
    border-radius: 10px;
    transform: scale(1);
    text-align: center;
    font-size: x-large;
}



input[type=checkbox],
select {
    width: 100%;
    padding-bottom: 1%;
    border: 2px solid pink;
    border-radius: 5px;
    transform: scale(3);
    /*permet d'augmenter la taille de ma check box*/
}

.identity {
    width: 25%;
    border: 5px solid pink;
    border-radius: 10px;
}

.adress {
    width: 75%;
    border: 5px solid pink;
    border-radius: 10px;
}


.checkbox-label {
    text-align: center;
    font-size: xx-large;
}

textarea {
    font-size:xx-large;
    width: 900px; /* Largeur fixe de 900 pixels */
    height: 300px; /* Hauteur fixe de 150 pixels */
    resize: none; /* Désactive la possibilité de redimensionnement par l'utilisateur */
    border: 5px solid pink;
    border-radius: 5px;
}

.submit {
    width: 25%;
    padding: 20px;
    margin: 8px;
    border: 2px solid pink;
    border-radius: 5px;
    align-items: center;
    font-size: large;
}

.footer {
    background-color: pink;
    text-align: center;
    color: azure;
    font-weight: bold;
    padding: 1%;
}