nav {
    display: flex;
    flex-direction: row;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    /* padding top and bot 1% padding left and right 2%*/
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 25%;
}

a {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color: black;
}

input {
    font-size: larger;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;

}

.body {
    background-image: url(/image/background.jpg);
    background-size: cover;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}



.title {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    text-align: center;
}

.presentation {
    text-align: center;
}