nav {
    display: flex;
    flex-direction: row;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    /* padding top and bot 1% padding left and right 2%*/
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 25%;
}

a {
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    color: black;
}

input{
    font-size: larger;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;

}

.body {
    background-image: url(/image/background.jpg);
    background-size: cover;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}

.subtitle {
    font-family: 'Pacifico', cursive;
}


.presentation {
    text-align: center;
}

.index-img img {
    max-width: 23%;
}

.index-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: justify;
    padding: 2%;
}

.button {
    text-align: left;
    margin-top: 5%;
}

.footer {
    background-color: pink;
    text-align: center;
    color: azure;
    font-weight: bold;
    padding: 1%;
}